name: Node Docker CI/CD

on:
  push:
    branches:
      - features

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      -