name: Node.js CI

on:
  push:
    branches:
      - features
  pull_request:

jobs:
  build-test:
    uses: umar2809/Reuse-able-workflows-for-Node-js-/.github/workflows/node-reusable-ci.yml@main
    with:
      node-version: 18


     

      
